@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}

.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

header {
    position: absolute;
    top: -40px;
    left: 20px;
    right: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);    
    border-left: 1px solid rgba(255,255,255,0.5);    
}

header .logo {
    text-decoration: none;
    color: #8a2435;
    font-weight: 700;
    font-size: 2em;    
}


header ul { 
    display: flex; 
}

header ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    font-size: 1.2em;
    padding: 8px 15px;
    border-radius: 25px;
}

header ul li a:hover,
.active {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);    
}

.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);    
    border-left: 1px solid rgba(255,255,255,0.5);    
    padding: 40px;
    padding-left: 100px;
}

.content h2 {
    font-weight: 600;
    font-size: 3em;
    color:#8a2435;
}

.content p {
    font-size: 1.2em;
    color: #8a2435;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 500;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.imageBox img {
    max-width: 400px;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100px);
    }
}

.sci {
    position: absolute;
    right: -25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;    
}

.sci li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.sci li a img {
    transform: scale(0.6);
    transition: 0.5s;
}

.sci li a:hover img { 
    transform: scale(1) rotate(360deg);
}

@media (max-width: 1200px) {
    .container {
        position: relative;
        width: calc(100% - 20px);
    }
}

@media (max-width: 1110px) {
    section {
        padding: 50px 10px 10px;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: auto 20px;
    }

    .container .content {
        transform: translateX(0px);
        max-width: 100%;
        margin-top: -50px;
        padding: 30px;
    }

    header {
        position: relative;
        flex-direction: column;
        width: 100%;
        top: -80px;
        right: 0;
        left: 0;
    }

    header ul {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    header ul li {
        margin-top: 4px;
    }

    header ul li a {
        display: inline-block;
    }

    .sci {
        position: relative;
        flex-direction: row;
        left: 0;
    }

    .sci li a {
        margin: 0 10px;        
    }

    @keyframes animate {
        0%, 100% {
            transform: translateY(-20px);
        }
        50% {
            transform: translateY(20px);
        }
    }

    .imageBox {
        margin-bottom: 100px;
    }
}

@media (max-width: 575px) {
    .content h2 {
        font-size: 1.5em;
        color: #8a2435;
    }

    .content p {
        font-size: 1em;
    }

    .imageBox img {
        max-width: 300px;
    }

    .sci {
        margin-bottom: 0;
    }
}